.file-diff__container {
	width: 100%;
	max-width: 100%;
	overflow-x: scroll;
	padding: 1rem;
}

.file-diff__line {
	padding: 0.1rem 0;
}

button:focus-visible {
	box-shadow: var(--input-shadow);
}

@media (prefers-color-scheme: light) {
	.file-diff__top-line__bg {
		background-color: #d9f4ef;
	}

	.file-diff__bottom-line__bg {
		background-color: #d9edff;
	}

	.file-diff__button-danger {
		background-color: #b00020 !important;
		color: #ffffff;
	}

	.file-diff__button-danger:hover {
		background-color: #9f0020 !important;
		color: #ffffff;
	}

	.file-diff__action-line {
		color: #919191;
	}
}

@media (prefers-color-scheme: dark) {
	.file-diff__top-line__bg {
		background-color: #25403b;
	}

	.file-diff__bottom-line__bg {
		background-color: #25394b;
	}

	.file-diff__button-danger {
		background-color: #cf6679 !important;
		color: #ffffff;
	}

	.diff__button-danger:hover {
		background-color: #b85a6d !important;
		color: #ffffff;
	}

	.file-diff__action-line {
		color: #919191;
	}
}

/* Tailwind CSS */
.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.gap-1 {
	gap: 0.25rem; /* 4px */
}

.no-decoration {
	text-decoration-line: none;
}

.no-decoration:hover {
	text-decoration-line: none;
}

.text-xxs {
	font-size: 0.65rem;
}

/* Rename from py-0.5 to py-0-5, because dots aren't allowed in class names */
.py-0-5 {
	padding-top: 0.125rem; /* 2px */
    padding-bottom: 0.125rem; /* 2px */
}

.mr-2 {
	margin-right: 0.5rem; /* 8px */
}

.mb-20 {
	margin-bottom: 5rem; /* 80px */
}
