.container {
	width: 100%;
	max-width: 100%;
	overflow-x: scroll;
	padding: 1rem;
}

.line {
	padding: 0.1rem 0;
}

@media (prefers-color-scheme: light) {
	.bg-turquoise-light {
		background-color: #D9F4EF;
	}

	.bg-blue-light {
		background-color: #D9EDFF;
	}
}

@media (prefers-color-scheme: dark) {
	.bg-turquoise-light {
		background-color: #25403B;
	}

	.bg-blue-light {
		background-color: #25394B;
	}
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.gap-2 {
	gap: 4px;
}

.no-decoration {
	text-decoration: none;
	text-decoration-line: none;
}

.no-decoration:hover {
	text-decoration: none;
	text-decoration-line: none;
}

.text-xxs {
	font-size: 0.65rem;
}

.py-2 {
	padding-top: 2px;
	padding-bottom: 2px;
}

.text-gray {
	color: #919191;
}
